<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Order Details</title>
    </head>
    <body>
        <h1><%= @order.company.name %></h1>
        <table>
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Amount</th>
                    <th>Date/Time</th>
                    <th>Placed By</th>
                    <th>Phone #</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @order.id %></td>
                    <td><%= @order.amount %></td>
                    <td><%= @order.date %></td>
                    <td><%= @order.user.first %> <%= @order.user.last %></td>
                    <td><%= @order.phone %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td><%= @order.amount.sum %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
